@font-face {
	font-family: 'camaleon';
	src:url('fonts/camaleon.eot?sij2rh');
	src:url('fonts/camaleon.eot?sij2rh#iefix') format('embedded-opentype'),
		url('fonts/camaleon.ttf?sij2rh') format('truetype'),
		url('fonts/camaleon.woff?sij2rh') format('woff'),
		url('fonts/camaleon.svg?sij2rh#camaleon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'camaleon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-inventario:before {
	content: "\e90e";
}
.icon-load_general:before {
	content: "\e900";
}
.icon-load_bar:before {
	content: "\e901";
}
.icon-date_down:before {
	content: "\e902";
}
.icon-date_up:before {
	content: "\e903";
}
.icon-arrow1:before {
	content: "\e904";
}
.icon-arrow2:before {
	content: "\e905";
}
.icon-arrow3:before {
	content: "\e906";
}
.icon-busqueda_tercero:before {
	content: "\e907";
}
.icon-icon_minus:before {
	content: "\e90b";
}
.icon-icon_plus:before {
	content: "\e90c";
}
.icon-sucursal:before {
	content: "\e90d";
}
.icon-eliminar:before {
	content: "\e601";
}
.icon-crear:before {
	content: "\e602";
}
.icon-editar:before {
	content: "\e603";
}
.icon-guardar:before {
	content: "\e604";
}
.icon-enviar:before {
	content: "\e600";
}
.icon-buscar:before {
	content: "\e605";
}
.icon-cerrar:before {
	content: "\e606";
}
.icon-buscar_usuario:before {
	content: "\e607";
}
.icon-confirmar:before {
	content: "\e608";
}
.icon-flecha_abajo:before {
	content: "\e609";
}
.icon-global:before {
	content: "\e60a";
}
.icon-home:before {
	content: "\e60b";
}
.icon-login:before {
	content: "\e60c";
}
.icon-usuario_activo:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e60e";
}
.icon-flecha_arriba:before {
	content: "\e60f";
}
.icon-ver:before {
	content: "\e610";
}

