<link rel="stylesheet" type="text/css" href="/app/view/css/tercero/busqueda.css">
<script type="text/javascript" src="/app/controller/js/tercero/busqueda.js"></script>

<div class="box">
    <div class="contenido">
        
        <div class="subcontenido">
            
            <div class="busqueda_general">
                
                <h1>Búsqueda Tercero</h1> 
                
                <section class="left">
                    
                    <form class="form" id="busqueda_tercero" method="post" action="/app/controller/php/tercero/tercero.php">

                        <div class="subform">
                           
                           <div class="fieldbox textbox width_10">
                                <label>Búsqueda</label>
                                <input class="field" type="search" name="subcuenta"/>
                                <input type="hidden" name="buscar" value="true"/>
                           </div>

                            <div class="filtrar">
                                <a href="#">FILTRAR</a>
                                <div class="option">
                                    <input id="std_todos" class="radiobutton" type="radio" name="tipo_b" value="todos">
                                    <label for="std_todos">TODOS</label>
                                </div>
                                <div class="option">
                                    <input id="std_natural" class="radiobutton" type="radio" name="tipo_b" value="natural">
                                    <label for="std_natural">NATURAL</label>
                                </div>
                                <div class="option">
                                    <input id="std_juridica" class="radiobutton" type="radio" name="tipo_b" value="juridica">
                                    <label for="std_juridica">JURIDICA</label>
                                </div>
                                
                            </div>

                            <button class="button">BUSCAR</button>
                        </div>

                    </form><br>
                </section>

                <section class="right" id="tercero_registros"> 
                </section>
           </div>
        </div>    
    </div>
</div>