<link rel="stylesheet" type="text/css" href="/app/view/css/tercero/busqueda.css">
<script type="text/javascript" src="/app/controller/js/tercero/tercero.js"></script>
<script src="/app/controller/js/administracion/contabilidad/puc/cuenta_auxiliar/form.js"></script>

<div class="box">
    <div class="contenido">
        
        <div class="subcontenido">
            
            <div class="busqueda_general">
                
                <h1>Búsqueda Tercero</h1> 
                
                    <section class="left">
                        
                        <form class="form" id="busqueda_tercero">

                            <div class="subform">
                               
                                   <div class="fieldbox textbox width_10">
                                        <label>Búsqueda</label>
                                            <input class="field" type="search" name="subcuenta"/>
                                   </div>


                                <div class="filtrar">
                                    <a href="#">FILTRAR</a>
                                    <div class="option">
                                        <input id="std_activo" class="radiobutton" type="radio" name="estado" value="true">
                                        <label for="std_activo">NUMERO ID</label>
                                    </div>
                                    <div class="option">
                                        <input id="std_inactivo" class="radiobutton" type="radio" name="estado" value="false">
                                        <label for="std_inactivo">NOMBRE O RAZÓN SOCIAL</label>
                                    </div>
                                </div>
                                <button class="button">BUSCAR</button>
                            </div>

                        </form><br>
                    </section>

            <section class="right">
                <form class="form" id="buscador">
                      <div class="subform">
                          
                            <div class="espacio left">
                                <h2>MICROMATCO SAS</h2>
                                <p>900.800.950-1</p>
                            </div>
                          
                            <div class="espacio right"><span class="icon-eye"></span></div>
                      </div>
                </form><br>
                <form class="form" id="buscador">
                      <div class="subform">
                          
                            <div class="espacio left">
                                <h2>MICROMATCO SAS</h2>
                                <p>900.800.950-1</p>
                            </div>
                          
                            <div class="espacio right"><span class="icon-eye"></span></div>
                      </div>
                </form><br>
                <form class="form" id="buscador">
                      <div class="subform">
                          
                            <div class="espacio left">
                                <h2>MICROMATCO SAS</h2>
                                <p>900.800.950-1</p>
                            </div>
                          
                            <div class="espacio right"><span class="icon-eye"></span></div>
                      </div>
                </form><br>
                <form class="form" id="buscador">
                      <div class="subform">
                          
                            <div class="espacio left">
                                <h2>MICROMATCO SAS</h2>
                                <p>900.800.950-1</p>
                            </div>
                          
                            <div class="espacio right"><span class="icon-eye"></span></div>
                      </div>
                </form><br>
                
            </section>
           </div>
        </div>    
    </div>
</div>