.textbox{
   margin: 10px 0px;
}

.wrapper{
    background-color:#eaeded;
    padding: 15px;
    width: 70%;
    margin: 15px auto;
    border: none;
    box-shadow:0px 0px 6px #757575;
    
}
.wrapper table {
   margin: auto;
   width:50%;
}


.wrapper table tbody th{
    background-color:#01b2a5 ;
    padding: 10px;
    color: white;
    font-family: gothic;
    
}

.wrapper table tbody tr td{
    padding: 16px 20px;
    background-color: #08d3c3;
    text-align: center;
    color: white;
    font-family: gothic;
    width: 500px;
    
}

#tabla_2 th{
    background-color:#9C27B0;
}
#tabla_2 td{
    background-color: #AB47BC;
}

span{
    margin: 5px;
    font-size: .75em;
}

.descripcion{
    box-shadow:0px 0px 6px #757575;
    background:rgba(1, 178, 165, 0.79);
    right: 0px;
    color: #ffffff;
    display: none;
    font-family: gothic;
    width: 20%;
    padding: 15px;
    position: absolute;
}



