<script src="app/controller/js/administracion/inicio.js"></script>
<link type="text/css" rel="stylesheet" href="/app/view/css/home.css">





<div class="box">
    <div class="contenido">

        <div class="home">
            
            <div class="video">
                <video poster="videotest.jpg" autoplay loop controls webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
            </div>

            <div class="sub-cont">
                <h1>Trabajo Frecuente</h1>
                <div class="opcion"><a href="#"><i class="icon-crear"></i>Agregar cuenta Auxiliar</a></div>
                <div class="opcion"><a href="#"><i class="icon-buscar"></i>Buscar Usuario</a></div>
            </div>
            
            <button class="btnCloseContent"><i class="icon-cerrar"></i></button>
            
        </div>

    </div>
</div>

<div class="box menu">
    <div class="menu" data-name="Administrativo"></div>
    <!--<div class="menu"></div>-->
</div>