<script src="app/controller/js/administracion/inicio.js"></script>
<link type="text/css" rel="stylesheet" href="/app/view/css/home.css">





<div class="box">
    <div class="contenido">

        <div class="home">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/HQy5NRSlF00" frameborder="0" allowfullscreen></iframe>

            <div class="sub-cont">
                <h1>Trabajo Frecuente</h1>
                <div class="opcion"><a href="#"><span class="icon-user-plus"></span>Agregar cuenta Auxiliar</a></div>
                <div class="opcion"><a href="#"><span class="icon-address-book"></span>Buscar Usuario</a></div>
            </div>
            
            <button class="btnCloseContent"><span class="icon-cross"></span></button>
            
        </div>

    </div>
</div>

<div class="box menu">
    <div class="menu" data-name="Administrativo"></div>
    <!--<div class="menu"></div>-->
</div>