<script src="app/controller/js/menu.js"></script>


<div class="administrativo">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/HQy5NRSlF00" frameborder="0" allowfullscreen>                                 </iframe>
                    
         <div class="sub_cont_1">
             <h1>Trabajo Frecuente</h1>
                 <a href="#">Agregar cuenta Auxiliar</a>
                 <a href="#">Buscar Usuario</a>
         </div>
</div>


<div class="menu">
          <nav>
             <h1><span class="icon-earth"></span> MODULO ADMINISTRATIVO</h1>
             <ul>
                 <li class="submenu"><a href="#">USUARIO <span class="icon-play3"></span></a>
                    <ul class="children">
                        <li><a href="#">Agregar Usuario</a></li>
                        <li><a href="#">Buscar Usuario</a></li>
                    </ul>
                 </li>
                <li class="submenu"><a href="#">DATOS Y VARIABLES<span class="icon-play3"></span></a>
                    <ul  class="children">
                        <li class="submenu"><a href="#">PUC<span class="icon-play3"></span></a>
                            <ul class="children" >
                                <li><a href="#">Agregar cuenta auxiliar</a></li>
                                <li><a href="#">Buscar cuenta</a></li>
                            </ul>
                        </li>
                        <li class=""><a href="#">NOMINA<span class="icon-play3"></span></a></li>
                    </ul>
                    
                </li>
             </ul>
         </nav>
 </div>