.subcontenido.tercero{
    padding-top: 60px;
    width: 82%;
    position: relative;
    display:block; 
    margin: auto;
}

.tercero h1{
    font-family: gothic;
    font-size: 1.4em;
}

.form#tercero{
    width: 90%;
}

.form#tercero .textbox .field {
    text-transform: uppercase;
}

.form#tercero .textbox #descripcion {
    text-transform: none;
}

.infobox.tercero .espacio.left{
    text-align: left;
    width: 74%;
    font-family: gothic;
    color: #716d6d;
}

.infobox.tercero .espacio.left h2{
    font-size: .9em;
}

.infobox.tercero .espacio.left p{
    font-size: .8em;
}

.infobox.tercero .espacio.right{
    text-align: right;
    width: 24%;
}

.infobox.tercero .espacio.right i{
    color:#13cc30;
    font-size: 1.2em;
}

@media screen and (max-width:1280px) {
 
    .subcontenido.tercero{
        width: 88%;
    }

}

@media screen and (max-width:1120px) {
    
    .subcontenido.tercero{
        width: 94%;
    }

}

@media screen and (max-width: 960px){
    
    .subcontenido.tercero{
        width: 100%;
    }
    
    .form#tercero{
        width: 95%;
    }
    
}

@media screen and (max-width: 800px){
    
    .subcontenido.tercero{
        width: 100%;
    }
    
    .form#tercero{
        width: 100%;
    }
    
}