.subcontenido.tercero{
    padding-top: 60px;
    width: 82%;
    position: relative;
    display:block; 
    margin: auto;
}

.tercero h1{
    font-family: gothic;
    font-size: 1.4em;
}

.form#tercero{
    width: 90%;
}

.form#tercero .textbox .field {
    text-transform: uppercase;
}

.form#tercero .textbox #descripcion {
    text-transform: none;
}

@media screen and (max-width:1280px) {
 
    .subcontenido.tercero{
        width: 88%;
    }

}

@media screen and (max-width:1120px) {
    
    .subcontenido.tercero{
        width: 94%;
    }

}

@media screen and (max-width: 960px){
    
    .subcontenido.tercero{
        width: 100%;
    }
    
    .form#tercero{
        width: 95%;
    }
    
}

@media screen and (max-width: 800px){
    
    .subcontenido.tercero{
        width: 100%;
    }
    
    .form#tercero{
        width: 100%;
    }
    
}