.contenido .home{
    margin-top: 20px;text-align: center;
}

.contenido .home h1{
    font-family: gothic;
    font-size: 1.3em;
    color: #000; 
    margin-bottom: 10px;
}

.contenido .home a{
    display: inline-block;
    text-decoration: none;
}

.contenido .home a span{
    background: #c50038;
    border-radius: 50%;
    margin:10px;   
}

.contenido .home a .icon-circle-up { 
    font-size: 5em;
    color: #fff;
}



