#subbody #contenedor .box .contenido .inicio{
  width: 100%;
}
.login{
    display: none;
    width: 60%;
    
    
}
.campos{
    float: left;
    margin-right: 20px;
}

.usuario{
    font-family: gothic;
    color:#5df4f4 ;
}

/*.field {
    color: white;
    padding: 5px;
    background-color: transparent;
    border: none;
    margin: 3px 10px;
    background-color: #adffff;
}

input[type=submit]{
    font-family: gothic;
    padding: 5px;
    margin: auto 20px;
    background-color: #00eaea;
    color: white;
    border: none;
}
*/
.video{
    margin-top: 10px;
     width: 100%; 
   
        
    
}
.video iframe{
   width: 100%; 
   
}
/*Escritorio*/
/*@media screen and (min-width:1280px){
    .login{
            
        
    }
}
@media screen and (max-width:1280px){
    .login{
       

    }
}

@media screen and (min-width:1120px){
    .login{padding: 10px 11px;
    }
}

@media screen and (max-width:1120px){
    .login{padding: 10px 11px;
    }
}
@media screen and (min-width:960px){
    .login{
        padding:0px;
    }
}
@media screen and (max-width:960px){
    .login{
        padding: 10px 95px;
    }
}
@media screen and (min-width:800px){
    .login{
        
    }
}
@media screen and (max-width:800px){
    .login{
        
    }
}


@media screen and (max-width:640px){
    .login{
       
        
       
    }
    .campos{
        
    }
    
    .usuario{
        
    }
    input[type=submit]{
    
    
}
}
@media screen and (max-width:480px){
    .
    
}
    
}
@media screen and (max-width:319px){
    .login{
        
    }
}
*/