#subbody #contenedor .box .menu{
    margin: auto;
    height: 50%;

}

#subbody #contenedor .box .menu nav a {
    text-decoration: none;
    font-family: gothic;
    font-size: 1em;
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 10px;
    
}

#subbody #contenedor .box .menu nav a:hover {
    color: cadetblue;
}

#subbody #contenedor .box .menu h1{
    text-decoration: none;
    font-family: gothic;
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin: 8px;
    
}