<script src="/app/controller/js/home.js"></script>
<link rel="stylesheet" type="text/css" href="/app/view/css/home.css">

<div class="box">
    <div class="contenido">
        
        <div class="home">
            
            <div class="video">
                <video poster="videotest.jpg" autoplay loop controls webkitallowfullscreen mozallowfullscreen allowfullscreen></video>
            </div>
            
            <div class="sub_cont_1">
                <h1>Entradas recientes</h1>
                <a href="#"><i class="icon-circle-up"></i></a>
                <a href="#"><i class="icon-circle-up"></i></a>
                <a href="#"><i class="icon-circle-up"></i></a>
                <a href="#"><i class="icon-circle-up"></i></a>
            </div>
            
        </div>
        
    </div>
</div>

<div class="box menu">
    <div class="menu" data-name="Home"></div>
    <!--<div class="menu"></div>-->
</div>