<script src="/app/controller/js/menu.js"></script>
<link rel="stylesheet" type="text/css" href="/app/view/css/home.css">

<div class="box">
    <div class="contenido">
        
        <div class="home">
            
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/HQy5NRSlF00" frameborder="0" allowfullscreen></iframe>        
            <div class="sub_cont_1">
                <h1>Entradas recientes</h1>
                <a href="#"><span class="icon-circle-up"></span></a>
                <a href="#"><span class="icon-circle-up"></span></a>
                <a href="#"><span class="icon-circle-up"></span></a>
                <a href="#"><span class="icon-circle-up"></span></a>
            </div>
            
        </div>
        
    </div>
</div>

<div class="box menu">
    <div class="menu">
        <nav>
            <h1><span class="icon-home2"></span>INICIO</h1>
            <a href="#"><span class="icon-earth"></span>Modulo Administrativo</a>
        </nav>
    </div>
</div>