<script src="framework/jquery-1.11.3.js"></script>
<script src="app/controller/js/inicio.js" type="text/javascript"></script>


<div class="subheader btnmenu">
    <span class="icon-enter"></span>
</div>
<div class="subcontenedor">
        
            </header>
            <div id="contenedor">
                <div class="subcontenedor">
                    
                    <form action="#" class="login">
                        <div class="">
                            <label class="usuario" for="">User</label>
                            <input class="field" type="text" id=""/>
    
   
                            <label class="usuario" for="">Password</label>
                            <input class="field" type="password" id=""/>
 
                            <input type="submit" value="Entrar"></div>

                    </form>
                    
                </div>           

    </div>
        
        
        

